---
export interface Props {
  title: string;
  description: string;
  image?: string;
  date?: Date;
}

export type SeoProps = Props;

const defaultMetaImage = "/images/graph/avil13-graph-bg.jpg";

const { title, description, image } = Astro.props;
const metaImage = Astro.url.origin + (image || defaultMetaImage);
---

<title>{title} | AVIL13.com</title>
<meta name="description" content={description} />
<link rel="canonical" href={Astro.url.href} />

{/*Facebook Meta Tags*/}
<meta property="og:url" content={Astro.url.href} />
<meta property="og:type" content="article" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={metaImage} />

{/*Twitter Meta Tags*/}
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content={Astro.url.origin} />
<meta property="twitter:url" content={Astro.url.href} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={metaImage} />
